<%
local api = require "luci.passwall.api"
-%>
<style>
    .dns-con {
      padding: 1rem;
    }
    .faq-title {
      color: var(--primary);
      font-weight: bolder;
      margin-bottom: 0.5rem;
      display: inline-block;
    }
    .reset-title {
     color: var(--primary)；
     font-weight: bolder;
     margin-bottom: 0.3rem;
     display: inline-block;
     margin-top: 1.2rem;
     text-decoration: underline;
    }
    .dns-item {
     margin-bottom: 0.8rem;
     line-height:1.2rem;
    }
    .dns-list {
		text-indent:1rem;
		line-height: 1.2rem;
}

<script>
